:root {
    --menuHeight: 7rem;
    --gradientBg: linear-gradient(to bottom, white 17%, gray);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100vh;
    width: 100vw;
}

#app {
    height: 100%;
    width: 100%;
    background-color: red;
}

#menu {
    background-color: darkcyan;
    height: var(--menuHeight);

    display: flex;
    flex-direction: column;
}

#hullCanvas {
    height: calc(100% - var(--menuHeight));
    width: 100%;
    display: block;
}

.top-menu{
    width: 100%; 
    height: 1.5rem; 
    background: #444;
    display: flex; 
    align-items: center; 
    padding-left: 1rem;
}

.topmenu-option {
    border-radius: .3rem;
    outline: none;
    border: none;
    background: rgba(0,0,0,0.8);
    height: 100%;
    padding: 0 .3rem;
    transition: ease .2s;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.445);
}

.topmenu-option:hover {
    cursor: pointer;
    background: linear-gradient(to top, transparent 17%, white, gray);
}

.mainmenu{
    width: 100%; 
    height: calc(100% - 1.5rem);
    display: flex;
    background-color: #666;
}

.mainmenu-option{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.mainmenu-option:hover{
    cursor: pointer;
    background: var(--gradientBg);
}

/* Garante que o canvas do cubo fique acima de tudo */
.rotation-cube-canvas {
    pointer-events: auto !important;
    /* box-shadow: 0 2px 10px rgba(0,0,0,0.3); */
}

.main-container {
    position: relative;
}